@use "../global";
@use "../abstracts/mixins" as *;
#workplaces{
    height: 500vh;
    width: 100%;
}
// WORKPLACES STYLE
#workplaces {
  padding: 48px 0;
  background-color: var(--bg-white);
  .workplaces-head {
    h1 {
      @include sectionHead;
    }
  }
  .workplaces-items {
    padding: 48px 0 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 45px;
    .workplaces-item {
    }
  }
}
