:root {
  --bg-dark: #f1f0ee;
  --bg-navDark: #f1f0ee;
  --bg-light: #f9f8f7;
  --coursesCard-bg: #f9f8f7;
  --bg-white: #ffffff;
  --color-brown: #ba8d5b;
  --color-blue: #607987;
  --color-green: #0eb182;
  --color-black: #0f1826;
  --inpBorder-color: #dadada;
  --inBg-color: #f7f7f5;
}
body.dark {
  --bg-dark: #09111b;
  --bg-navDark: #0f1826;
  --bg-white: #021923;
  --bg-light: #0f1826;
  --coursesCard-bg: #021923;
}

.container {
  max-width: 1246px;
  padding: 0 32px;
  margin: 0 auto;
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Black.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Semibold.ttf);
  font-weight: 800;
}
