*{
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Lato;
}
html{
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}

:root {
  --bg-dark: #f1f0ee;
  --bg-navDark: #f1f0ee;
  --bg-light: #f9f8f7;
  --coursesCard-bg: #f9f8f7;
  --partnersCard-bg: #f9f8f7;
  --bg-white: #ffffff;
  --color-black1: #000000;
  --color-brown: #ba8d5b;
  --color-blue: #607987;
  --color-green: #0eb182;
  --color-black: #0f1826;
  --inpBorder-color: #dadada;
  --inBg-color: #f7f7f5;
  --themetoggle-color: #f5f5f5;
  --font-color:#000000;
}
body.dark {
  --bg-dark: #09111b;
  --bg-dark-2: #1E1E1E;
  --bg-navDark: #0f1826;
  --bg-white: #021923;
  --bg-light: #0f1826;
  --font-color:#FFFFFF;
  --coursesCard-bg: #021923;
  --partnersCard-bg: #c9c9c9;
  --themetoggle-color: #272727;
  --color-black1: #ffffff;
  --color-black: #ffffff;
  --color-blue: white;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
button{
  cursor: pointer;
  outline: none;
}
.container {
  max-width: 1246px;
  padding: 0 32px;
  margin: 0 auto;
  @media (max-width: 550px) {
    padding: 0 16px;
  }
}


