*{
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --bg-dark: #f1f0ee;
  --bg-navDark: #f1f0ee;
  --bg-light: #f9f8f7;
  --partnersCard-bg: #f9f8f7;
  --bg-white: #ffffff;
  --color-brown: #ba8d5b;
  --color-blue: #607987;
  --color-green: #0eb182;
  --color-black: #0f1826;
  --inpBorder-color: #dadada;
  --inBg-color: #f7f7f5;
}
body.dark {
  --bg-dark: #09111b;
  --bg-navDark: #0f1826;
  --bg-white: #021923;
  --bg-light: #0f1826;
  --coursesCard-bg: #021923;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
button{
  cursor: pointer;
  outline: none;
}
.container {
  max-width: 1246px;
  padding: 0 32px;
  margin: 0 auto;
}


