@use "./assetss/abstracts/variables" as *;

@font-face {
  font-family: "Lato";
  src: url(./assetss/fonts/Lato-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Lato";
  src: url(../assetsss/fonts/Lato-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: url(./assetss/fonts/Lato-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Lato";
  src: url(./assetss/fonts/Lato-Black.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Lato";
  src: url(./assetss/fonts/Lato-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Lato";
  src: url(./assetss/fonts/Lato-Semibold.ttf);
  font-weight: 800;
}
