@use "../global";
@use "./base/reset";
@use "./base/typography";
@use "./layout/footer";
@use "./layout/header";
@use "../abstracts/variables" as *;
#blog {
  background-color: var(--bg-light);
}

body.dark #blog {
  background-color: var(--bg-dark-2);
}

#blog .blog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

#blog .blog__item {
  z-index: 0;
  max-width: 100%;
  position: relative;
  width: 100%;
  margin-bottom: 36px;
}

#blog .blog__type {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 8px;
  padding: 5px 12px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 2px #000000;
          box-shadow: 0px 0px 2px #000000;
  border-radius: 4px;
}

#blog .blog__image {
  cursor: pointer;
  width: 100%;
  height: auto;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#blog .blog__image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#blog .blog__image-wrapper {
  width: 100%;
  height: auto;
  border-radius: 8px;
  overflow: hidden;
}

#blog .blog__header-wrapper {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.35);
  margin-top: 12px;
  padding: 14px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Lato;
}

body.dark #blog .blog__header-wrapper {
  color: #FFFFFF;
}

#blog .blog__views-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#blog .blog__views-icon {
  margin-right: 6px;
  fill: rgba(0, 0, 0, 0.35);
}

body.dark #blog .blog__views-icon {
  fill: #FFFFFF;
}

#blog .blog__title {
  width: 100%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--font-color);
}

#blog .blog__desc {
  margin-top: 14px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
}

body.dark #blog .blog__desc {
  color: var(--font-color);
}

#blog .blog__loadMore {
  width: 250px;
  margin: auto;
  color: red;
  padding: 13px 46px;
  font-size: 16px;
  font-weight: 700;
  background-color: #ba8d5b;
  border-radius: 32px;
  border: none;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  transition: .1s linear;
  border: 2px solid transparent;
  -webkit-transition: .1s linear;
  -moz-transition: .1s linear;
  -ms-transition: .1s linear;
  -o-transition: .1s linear;
  color: white;
}

body.dark #blog .blog__loadMore {
  color: black;
}

#blog .blog__loadMore:hover {
  background-color: #F5F5F5;
  color: black;
  border-color: #ba8d5b;
}

#blog .blog__loadMore:active {
  border-color: transparent;
  background-color: #ba8d5b;
  color: white;
}

@media screen and (max-width: 768px) {
  #blog .blog {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

@media screen and (max-width: 425px) {
  #blog .blog {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 16px;
  }
}
