* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-dark: #f1f0ee;
  --bg-navDark: #f1f0ee;
  --bg-light: #f9f8f7;
  --partnersCard-bg: #f9f8f7;
  --bg-white: #ffffff;
  --color-brown: #ba8d5b;
  --color-blue: #607987;
  --color-green: #0eb182;
  --color-black: #0f1826;
  --inpBorder-color: #dadada;
  --inBg-color: #f7f7f5;
}

body.dark {
  --bg-dark: #09111b;
  --bg-navDark: #0f1826;
  --bg-white: #021923;
  --bg-light: #0f1826;
  --coursesCard-bg: #021923;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
}

.container {
  max-width: 1246px;
  padding: 0 32px;
  margin: 0 auto;
}

@font-face {
  font-family: "Lato";
  src: url(/assets/fonts/Lato-Light.ttf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Lato";
  src: url(/assets/fonts/Lato-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: url(/assets/fonts/Lato-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Lato";
  src: url(/assets/fonts/Lato-Black.ttf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Lato";
  src: url(/assets/fonts/Lato-Bold.ttf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Lato";
  src: url(/assets/fonts/Lato-Semibold.ttf);
  font-style: normal;
  font-weight: 800;
}
header {
  background-color: var(--bg-navDark);
  width: 100%;
  height: 100px;
}
header nav {
  background-color: green;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
header nav .nav__logo {
  width: 214px;
  height: 46px;
}
header nav .nav__logo img {
  width: 100%;
  height: 100%;
}
header nav .nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: red;
}
header nav .nav__menu-header {
  display: none;
}
header nav .nav__menu ul li {
  float: left;
  font-family: Lato;
  font-weight: 100;
}
header nav .nav__menu ul li:nth-child(3), header nav .nav__menu ul li:nth-child(4), header nav .nav__menu ul li:nth-child(5), header nav .nav__menu ul li:nth-child(6), header nav .nav__menu ul li:nth-child(7) {
  display: none;
}
header nav .nav__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}
header nav .nav__buttons button:first-child {
  padding: 11px 50px 11px 49px;
  font-size: 18px;
  font-weight: 500;
  background-color: #ba8d5b;
  border-radius: 32px;
  border: none;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  transition: 0.1s linear;
  border: 2px solid transparent;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  color: white;
}
body.dark header nav .nav__buttons button:first-child {
  color: black;
}
header nav .nav__buttons button:first-child:hover {
  background-color: #F5F5F5;
  color: black;
  border-color: #ba8d5b;
}
header nav .nav__buttons button:first-child:active {
  border-color: transparent;
  background-color: #ba8d5b;
  color: white;
}
header nav .nav__buttons button:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
header nav .nav__buttons button:last-child:hover svg path {
  fill: black;
}
header nav .nav__buttons button:last-child:active {
  background-color: var(--color-brown);
}
header nav .nav__buttons button:last-child:active svg path {
  fill: white;
}