* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-dark: #f1f0ee;
  --bg-navDark: #f1f0ee;
  --bg-light: #f9f8f7;
  --partnersCard-bg: #f9f8f7;
  --bg-white: #ffffff;
  --color-black1: #000000;
  --color-brown: #ba8d5b;
  --color-blue: #607987;
  --color-green: #0eb182;
  --color-black: #0f1826;
  --inpBorder-color: #dadada;
  --inBg-color: #f7f7f5;
  --themetoggle-color: #f5f5f5;
  --font-color:#000000;
}

body.dark {
  --bg-dark: #09111b;
  --bg-dark-2: #1E1E1E;
  --bg-navDark: #0f1826;
  --bg-white: #021923;
  --bg-light: #0f1826;
  --font-color:#FFFFFF;
  --coursesCard-bg: #021923;
  --themetoggle-color: #272727;
  --color-black1: #ffffff;
  --color-black: #ffffff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
}

.container {
  max-width: 1246px;
  padding: 0 32px;
  margin: 0 auto;
}
@media (max-width: 550px) {
  .container {
    padding: 0 16px;
  }
}

@font-face {
  font-family: "Lato";
  src: url(/assets/fonts/Lato-Light.ttf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Lato";
  src: url(/assets/fonts/Lato-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: url(/assets/fonts/Lato-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Lato";
  src: url(/assets/fonts/Lato-Black.ttf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Lato";
  src: url(/assets/fonts/Lato-Bold.ttf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Lato";
  src: url(/assets/fonts/Lato-Semibold.ttf);
  font-style: normal;
  font-weight: 800;
}
header {
  background-color: var(--bg-navDark);
  width: 100%;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 9999;
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  font-family: Lato;
}
header.shrink {
  height: 80px;
}
header nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
header nav .nav__logo {
  width: 214px;
  height: 46px;
}
@media (max-width: 550px) {
  header nav .nav__logo {
    width: 185px;
    height: 39px;
  }
}
header nav .nav__logo svg {
  width: 100%;
  height: 100%;
}
header nav .nav__menu-wrapper {
  flex-grow: 1;
}
@media (max-width: 860px) {
  header nav .nav__menu-wrapper {
    position: fixed;
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: row;
    -webkit-backdrop-filter: brightness(100%);
            backdrop-filter: brightness(100%);
    width: 100%;
    z-index: -1;
    height: 100vh;
    top: 0;
    right: -150%;
  }
}
header nav .nav__menu {
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
  width: 100%;
  padding-right: 2.2rem;
}
header nav .nav__menu ul li {
  color: var(--color-black) !important;
  float: left;
  font-family: Lato;
  font-weight: 100;
  margin: 37px;
}
header nav .nav__menu ul li:nth-child(3), header nav .nav__menu ul li:nth-child(4), header nav .nav__menu ul li:nth-child(5), header nav .nav__menu ul li:nth-child(6), header nav .nav__menu ul li:nth-child(7) {
  display: none;
}
header nav .nav__menu ul li a {
  font-size: 18px;
  color: var(--color-black);
  font-weight: 500;
}
@media (max-width: 860px) {
  header nav .nav__menu ul li {
    overflow: hidden !important;
    display: flex !important;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-black);
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    float: none;
    margin: 5px;
    padding: 0 12px;
    max-height: 25px;
    transition: max-height 0.5s linear;
    -webkit-transition: max-height 0.5s linear;
    -moz-transition: max-height 0.5s linear;
    -ms-transition: max-height 0.5s linear;
    -o-transition: max-height 0.5s linear;
    cursor: pointer;
  }
}
@media (max-width: 860px) and (max-width: 860px) {
  header nav .nav__menu ul li:nth-child(6) {
    display: none !important;
  }
}
@media (max-width: 860px) and (max-width: 860px) {
  header nav .nav__menu ul li:nth-child(7) {
    height: 45px;
    max-height: 45px;
    margin-top: 2rem;
    cursor: auto;
  }
  header nav .nav__menu ul li:nth-child(7) button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 45px;
    background-color: var(--themetoggle-color);
    height: 45px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}
@media (max-width: 860px) {
  header nav .nav__menu ul li.open {
    max-height: 500px;
    transition: max-height 0.5s linear;
    -webkit-transition: max-height 0.5s linear;
    -moz-transition: max-height 0.5s linear;
    -ms-transition: max-height 0.5s linear;
    -o-transition: max-height 0.5s linear;
  }
}
@media (max-width: 860px) {
  header nav .nav__menu ul li .li__header {
    height: 25px !important;
  }
}
@media (max-width: 860px) {
  header nav .nav__menu ul li a {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-black);
  }
}
@media (max-width: 860px) {
  header nav .nav__menu ul li .li__bottom ul li {
    margin: 0 10px;
    padding: 0;
  }
  header nav .nav__menu ul li .li__bottom ul li a {
    font-weight: 400;
    color: var(--color-blue);
  }
}
header nav .nav__menu-header {
  display: none;
}
@media (max-width: 860px) {
  header nav .nav__menu-header {
    display: flex !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--inpBorder-color);
    gap: 0;
  }
  header nav .nav__menu-header svg:first-child {
    width: 150px;
    height: 40px;
  }
  header nav .nav__menu-header svg:last-child {
    width: 30px;
    height: 30px;
    transition: transform 0.3s linear;
    -webkit-transition: transform 0.3s linear;
    -moz-transition: transform 0.3s linear;
    -ms-transition: transform 0.3s linear;
    -o-transition: transform 0.3s linear;
    cursor: pointer;
  }
  header nav .nav__menu-header svg:last-child:hover {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
  }
  header nav .nav__menu-header svg:last-child path {
    fill: var(--color-black);
  }
}
@media (max-width: 860px) {
  header nav .nav__menu {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 290px;
    max-width: 290px;
    height: auto;
    position: absolute;
    right: -150%;
    transition: 0.3s linear;
    top: 0;
    padding: 10px 24px 24px 24px;
    background-color: var(--bg-white);
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
  }
}
header nav .nav__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}
@media (max-width: 860px) {
  header nav .nav__buttons {
    padding: 1rem;
  }
}
@media (max-width: 550px) {
  header nav .nav__buttons {
    padding: 0;
    gap: 1rem;
  }
}
header nav .nav__buttons button:first-child {
  padding: 11px 50px 11px 49px;
  font-size: 18px;
  font-weight: 500;
  background-color: #ba8d5b;
  border-radius: 32px;
  border: none;
  font-family: Lato;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  transition: 0.1s linear;
  border: 2px solid transparent;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  color: white;
  background-color: white;
  color: var(--color-black);
}
body.dark header nav .nav__buttons button:first-child {
  color: black;
}
header nav .nav__buttons button:first-child:hover {
  background-color: #F5F5F5;
  color: black;
  border-color: #ba8d5b;
}
header nav .nav__buttons button:first-child:active {
  border-color: transparent;
  background-color: #ba8d5b;
  color: white;
}
@media (max-width: 550px) {
  header nav .nav__buttons button:first-child {
    padding: 7px 22px 7px 22px;
    font-size: 18px;
    font-weight: 500;
    background-color: #ba8d5b;
    border-radius: 32px;
    border: none;
    font-family: Lato;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    transition: 0.1s linear;
    border: 2px solid transparent;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -ms-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    color: white;
    background-color: white;
    color: var(--color-black);
  }
  body.dark header nav .nav__buttons button:first-child {
    color: black;
  }
  header nav .nav__buttons button:first-child:hover {
    background-color: #F5F5F5;
    color: black;
    border-color: #ba8d5b;
  }
  header nav .nav__buttons button:first-child:active {
    border-color: transparent;
    background-color: #ba8d5b;
    color: white;
  }
}
header nav .nav__buttons button:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 45px;
  height: 45px;
  border: none;
  background-color: var(--themetoggle-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media (max-width: 860px) {
  header nav .nav__buttons button:nth-child(2) {
    display: none;
  }
}
header nav .nav__buttons button:nth-child(2):hover svg path {
  fill: black;
}
header nav .nav__buttons button:nth-child(2):active {
  background-color: var(--color-brown);
}
header nav .nav__buttons button:nth-child(2):active svg path {
  fill: white;
}
header nav .nav__buttons button:last-child {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  display: none;
}
header nav .nav__buttons button:last-child span {
  width: 100%;
  height: 5px;
  background-color: var(--color-black);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
@media (max-width: 860px) {
  header nav .nav__buttons button:last-child {
    display: flex;
  }
}

#advantages {
  padding: 32px 0;
}

#advantages {
  padding: 48px 0;
  background-color: var(--bg-white);
}
@media (min-width: 390px) {
  #advantages {
    padding: 48px 0;
  }
}
#advantages .advantages-head h1 {
  font-family: Lato;
  font-weight: 800;
  font-size: var(32px);
  line-height: 40px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  letter-spacing: -0.64px;
  color: var(--color-black);
}
#advantages .advantages-items {
  padding: 48px 0 16px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px 45px;
}
@media (min-width: 390px) {
  #advantages .advantages-items {
    grid-template-columns: repeat(2, 1fr);
  }
}
#advantages .advantages-items .advantages-item {
  display: flex;
  gap: 40px;
}
#advantages .advantages-items .advantages-item h5 {
  margin-bottom: 14px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  letter-spacing: -0.4px;
  color: var(--color-black);
}
#advantages .advantages-items .advantages-item p {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  letter-spacing: -0.28px;
  color: var(--color-blue);
}
#advantages #more {
  display: flex;
  align-items: center;
  gap: 12px;
}
#advantages #more h6 {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  letter-spacing: -0.32px;
  color: var(--color-green);
}
#advantages #more button {
  display: flex;
  align-items: center;
  padding: 10px 8px;
  border: none;
  background: rgba(186, 141, 91, 0.1);
  border-radius: 12px;
  transition: 0.3s;
}
#advantages #more button svg path {
  stroke: #555555;
}
#advantages #more button:hover svg path {
  stroke: #000000;
}

#courses {
  padding: 32px 0;
  background-color: var(--bg-light);
}
@media (min-width: 390px) {
  #courses {
    padding: 48px 0;
  }
}
#courses .courses-head h1 {
  font-family: Lato;
  font-weight: 800;
  font-size: var(32px);
  line-height: 40px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  letter-spacing: -0.64px;
  color: var(--color-black);
}
#courses .courses-head p {
  padding: 24px 0;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  color: var(--color-blue);
}
#courses .courses-items {
  display: flex;
  gap: 33px;
}
#courses .courses-items .courses-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 17px 17px;
  gap: 12px;
  border: 1px solid #607987;
  border-radius: 4px;
}
#courses .courses-items .courses-item h6 {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  letter-spacing: -0.4px;
  color: var(--color-black);
}
#courses .courses-items .courses-item p {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  letter-spacing: -0.32px;
  color: var(--color-blue);
}
#courses #all-courses {
  padding-top: 16px;
}
#courses #all-courses h6 {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  color: var(--color-green);
}

#partners {
  padding: 32px 0;
}
@media (min-width: 390px) {
  #partners {
    padding: 48px 0;
  }
}
#partners .partners-head h1 {
  font-family: Lato;
  font-weight: 800;
  font-size: var(32px);
  line-height: 40px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  letter-spacing: -0.64px;
  color: var(--color-black);
}
#partners .partners-head p {
  padding: 24px 0 48px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  color: var(--color-blue);
}
#partners .partners-items {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 31px;
}
@media (min-width: 390px) {
  #partners .partners-items {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 1024px) {
  #partners .partners-items {
    grid-template-columns: repeat(6, 1fr);
  }
}
#partners .partners-items .partners-item {
  padding: 16px 12px;
  background: var(--partnersCard-bg);
  border-radius: 8px;
  transition: 0.3s;
}
#partners .partners-items .partners-item svg path {
  filter: contrast(10%);
}
#partners .partners-items .partners-item:hover {
  background-color: #fff;
  box-shadow: 0 2px 18px 3px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
#partners .partners-items .partners-item:hover svg path {
  filter: contrast(100%);
}