@use "../abstracts/variables" as *;

@mixin df($jc: start, $ai: start, $fd: row) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
}

@mixin btnBrown($padding, $fontSize, $fontWeight) {
  padding: $padding;
  font-size: $fontSize;
  font-weight: $fontWeight;
  background-color: #ba8d5b;
  border-radius: 32px;
  border: none;
  font-family: Lato;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  transition: .1s linear;
  border: 2px solid transparent;
  -webkit-transition: .1s linear;
  -moz-transition: .1s linear;
  -ms-transition: .1s linear;
  -o-transition: .1s linear;
  color: white;
  body.dark &{
    color: black;
  }
  &:hover{
    background-color: #F5F5F5;
    color: black;
    border-color: #ba8d5b;
  }
  &:active{
    border-color: transparent;
    background-color: #ba8d5b;
    color: white;
  }
}
@mixin btnWhite($padding, $fontSize, $fontWeight) {
  padding: $padding;
  font-size: $fontSize;
  font-weight: $fontWeight;
  background-color: #F7F7F5;
  border-radius: 32px;
  font-family: Lato;
  color: black;
  border: 2px solid transparent;
  transition: .1s linear;
  -webkit-transition: .1s linear;
  -moz-transition: .1s linear;
  -ms-transition: .1s linear;
  -o-transition: .1s linear;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  &:hover{
    border-color: #ba8d5b;
  }
}

@mixin sectionHead {
  font-family: Lato;
  font-weight: 800;
  font-size: var($font32);
  line-height: 40px;
  @include df($jc, $ai, $fd);
  letter-spacing: -0.64px;
  color: var(--color-black);
}
